@page "/shared-components"
<h2>Shared components are blazor components that can be shared between applications or within different blazor components</h2>
<p>Here i have made two shared components for Title and Description to demonstrate how a parent component can supply parameters to shared components</p>

<TitleDiv Title="Title of my demo -- Blazor .Net  " />
<InfoDiv Info="Here you can write a beautiful description." />
@code {

}
