@page "/image-gallery"
@using Microsoft.JSInterop
@using System.Threading.Tasks
@using System.Drawing
@inject IJSRuntime JSRuntime



<h1>Demo of Mouseevents in C# </h1>
<h5>previously we used javascript to handle mouse events but in blazor.net we can use c# </h5>
<div class="container-fluid">
    <div class="row"></div>
    <div class="row">@img</div>
    <div class="row"><img src="@img" @onmousewheel="@Mousewheel" style="height: 800px; width:800px" /></div>
</div>






    <div id='myMap' class="img-fluid" style='width: 1200px; height: 1200px;'></div>

    @code {
        int imgNumber = 0;
        string img => $"images/test {imgNumber}.jpg";
       

       async Task Mousewheel(WheelEventArgs args)
        {
            imgNumber += Math.Sign(args.DeltaY);
            if (imgNumber == 4) imgNumber = 0;
            if (imgNumber == -1) imgNumber = 3;
            await Task.CompletedTask;
        }
        //protected override async Task OnAfterRenderAsync(bool firstRender)

        //{
        //    var text = await JSRuntime.InvokeAsync<string>("loadMapScenario");

        //}
    }
