<div class="alert alert-info" role="alert">
    <span class="oi oi-info mr-2" aria-hidden="true"></span>
    <i>@Info</i>

</div>

@code {
    // Demonstrates how a parent component can supply parameters
      [Parameter] public string Info { get; set; }
}
